.control-label {
	justify-content: flex-end !important
}

.left, .right{
	border: thin black solid;
}

.right{
	padding-right:35px;
}

h3 {
	text-align:center;
}

.hasToolTip {
	text-decoration:underline;
	color: blue;
}

.label-align-left, #languageID {
	text-align:left;
}